* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
}

body {
   
    background: linear-gradient(135deg, #1e3c72 0%, #2a5298 100%);
    font-family: 'Arial', sans-serif;
    color: #fff;
}

h1 {
    background-color: rgba(8, 27, 49, 0.8); 
    height: 5rem;
    line-height: 5rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px #00ff00; 
}

.choice {
    height: 165px;
    width: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: transform 0.3s;
    box-shadow: 0 0 20px rgba(0, 255, 255, 0.8);
}

.choice:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.2); 
    transform: scale(1.1);
    box-shadow: 0 0 30px rgba(255, 255, 0, 0.8); 
}

img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 50%;
}

.choices {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}

.score-board {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 5rem;
}

#user-score, #comp-score, #draw {
    font-size: 4rem;
}

.msg-container {
    margin-top: 5rem;
}

#msg {
    background-color: rgba(8, 27, 49, 0.8);
    color: #fff;
    font-size: 2rem;
    padding: 1rem;
    border-radius: 1rem;
    text-shadow: 0 0 10px #00ff00; 
}

#reset-btn {
    margin-top: 2rem;
    padding: 10px 20px;
    font-size: 1.2rem;
    color: #fff;
    background-color: #ff6f61;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 0 20px rgba(255, 0, 255, 0.8);
}

#reset-btn:hover {
    background-color: #ff4c4c;
    box-shadow: 0 0 30px rgba(255, 0, 255, 1); 
}
